#Swiper_Opinion{
    background-color: white;
    display: flex;
    // height: 50vh;

}
#swiperopinio{
    height:fit-content;
    padding: 1rem 0;
  
}
.swiper-pagination {
    display: flex;
    padding: 0 3.5rem;
    display: flex;
     
}
.swiper-pagination .swiper-pagination-bullet {
background-color: #EF3D32;
width: 20px;
height: 20px;


}
.swiper .swiper-scrollbar{
        display: none !important;
        
    }
    
    .Swip_slid{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    
        // height: 100%;
        // width: 100%;
        div{
            padding: 2rem 3.5rem;
            p{
                // padding: 2rem 0;
                font-size: 1.5rem;
            }
            h2{
                margin-top: 3rem;
                font-size: 2.1rem;
                font-weight: 700;
                text-transform: uppercase;
                color: #EF3D32;
                margin-bottom: 2rem;

            }
            img{
                width: 60px !important;
                height: 60px !important;
                border-radius: 32px;
                display: inline-block !important;
                margin-bottom: 12px;
            }
            h6{
               padding-top: 1rem;
                margin: 0;
                font-size: 20px;
                font-weight: 500;
                text-transform: uppercase;
                color: #404040;
            }
            span{
                padding-top: 0.8rem;
                font-size: 15px;
                text-transform: uppercase;
                color: #4d4d4d;
            }
        }
   
       
   
    }
    .img_Opinio{
        img{
            max-width: 100%;
        }
    }
    @media screen and (max-width: 1200px){
        .img_Opinio{
            display: none;
        }
    }
    @media screen and (max-width: 767px){
        .swiper{
            min-height: 50rem;
        }
        .Opinion{
            padding: 0 !important;
        }
    }