#Who_We_Are{
    width: 100%;
    // min-height: 20vh;

    .Who_We_Are{
        padding: 6rem 8rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: center;
    }
     .Who_We_Are_Text{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        background: #F9FAFB;
      
        padding: 4rem;
        // margin-top: 42px;
       
        border: 0px solid transparent;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        h2{
            clear: both;    
            letter-spacing: 0em;
            font-weight: 700;
            color: #555555;
            font-size: 42px;
            line-height: 42px;
            padding-bottom: 1rem;
        }
        span{
            width: 72px;
            height: 2px;
            margin-top: 0px;
            position: relative;
            top: -3px;
            background: #EF3D32;
        }
        p{
            font: 16px/28px 'Poppins', sans-serif;
            color: #333333;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0.01em;
            margin: 12px 0 12px;
            padding: 0;
        }
        ul{
            list-style: none;
            // padding: 0 !important;
            li{
                // padding-left: 26px;
                line-height: 36px;
                position: relative;
            }
            li:before {
                content: '';
                display: inline-block;
                width: 8px;
                background: transparent;
                border: 1px solid #EF3D32;
                margin: 0 11px 0 0;
                height: 8px;
                // position: absolute;
                // top: 15px;
                // left: 6px;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
            }
        }

     }
 .img_vedio{
    position: relative;

    figure{
        position: relative;
        overflow: hidden;
        border: 0px solid transparent;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        
        a{
            background: rgba(0, 0, 0, 0.5);
            border: 5px solid #e6e6e6;
            border-radius: 100%;
            color: #EF3D32;
            font-size: 40px;
            height: 100px;
            left: 50%;
            line-height: 70px;
            padding: 10px;
            position: absolute;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            top: 50%;
            width: 100px;
            margin-left: -50px;
            margin-top: -50px;
        
        }
        img{
            max-width: 100%;
            vertical-align: middle;
        }
    }
 }
}


@media screen and (max-width: 1100px){
    #Who_We_Are{
        margin: 1rem 0;
    }
    .Who_We_Are{
        padding:0 2rem !important;
    }
}